{{define "layout"}}
<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Himetic{{template "layout.title"}}</title>
{{template "layout.style"}}
{{template "layout.body"}}
{{template "layout.script"}}
{{end}}