{{define "layout.title"}} - Index{{end}}

{{define "layout.body"}}
<h1 class="title">Himetic</h1>
<TopHeader></TopHeader>
{{end}}

{{define "layout.style"}}
<style>
  .title {
    color: blue;
  }
</style>
{{end}}

{{define "layout.script"}}
<script>
  console.log('hello index')
</script>
{{end}}